body {
    background: #090009;

    /* Disable scroll bars */
    overflow: hidden;

    /* Disable long touch hold select on mobile browsers */
    -webkit-touch-callout: none !important;
}

#wrapper {
    position: absolute;

    /* Wrapper covers entire window height and width */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Prevent the ugly blue highlighting from accidental selection of text */
    user-select: none;
}

#gamecontainer{
    width: 640px;
    height: 480px;
    background: url(images/screens/splashscreen.png);
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.gamelayer{
    width: 640px;
    height: 480px;
    position: absolute;
    display: none;
}

/* 启动画面与主菜单 */
#gamestartscreen{
    padding-top: 320px;
    text-align: left;
    padding-left: 50px;
    width: 590px;
    height: 160px;
}

#gamestartscreen span{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    cursor: pointer;
    color: white;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
}

#gamestartscreen span:hover{
    color: yellow;
}

/* 加载画面 */
#loadingscreen{
    background: rgba(100, 100, 100, 0.7);
    z-index: 10;
}

#loadingmessage{
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url(images/loader.gif) no-repeat center;
    font: 12px Arial;
}

/* 任务简介画面 */
#missionscreen{
    width:100%;
    background: url("images/screens/interface-middle.png");
}

input[type="button"] {
    border-width: 0;
    outline: none;
    /* 背景透明 */
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("images/buttons.png");

    cursor: pointer;
}

.left-panel {
    left: 0;
    top: 0;
    position: absolute;
    
}

.right-panel {
    right: 0;
    top: 0;
    position: absolute;
    
}

#missionscreen #entermission{
    height: 52px;
    width: 188px;

    position: absolute;
    top: 82px;
    left: 3px;
    background-image: url(images/buttons.png);
    background-position: -4px -4px;
}

#missionscreen #entermission:disabled,#missionscreen #entermission:active{
    background-image: url(images/buttons.png);
    background-position: -196px -4px;
}

#missionscreen #exitmission{
    height: 52px;
    width: 72px;

    position: absolute;
    top: 82px;
    right: 164px;
    background-image: url(images/buttons.png);
    background-position: -4px -64px;
}

#missionscreen #exitmission:disabled,#missionscreen #exitmission:active{
    background-image: url(images/buttons.png);
    background-position: -84px -64px;
}

#missionscreen #missionbriefing{
    position: absolute;
    padding: 10px;

    top: 170px;
    left: 40px;
    right: 220px;
    height: 270px;

    color: rgb(130, 150, 162);
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

/*游戏界面*/

#gameinterfacescreen{
    width: 100%;
    position: relative;
    background: url(images/screens/interface-middle.png);
    /* border:1px solid red; */
}

#gameinterfacescreen #gamemessages{
    position: absolute;
    padding-left: 10px;
    top:5px;
    left: 5px;
    width: 450px;
    height: 60px;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

#gameinterfacescreen #gamemessages span{
    color: white;
}

/* #gameinterfacescreen #callerpicture{
    position: absolute;
    left: 498px;
    top: 154px;
    width: 126px;
    height: 88px;
    overflow: none;
} */
#callerpicture {
    position: absolute;

    right: 20px;
    top: 155px;
    width: 114px;
    height: 72px;

    overflow: hidden;
}

#gameinterfacescreen #cash{
    width: 120px;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 241px;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align:  right;
}

#gameinterfacescreen canvas{
    position: absolute;
    top: 79px;
    left: 0px;
}

#gameinterfacescreen #foregroundcanvas{
    z-index: 1;
}

#gameinterfacescreen #backgroundcanvas{
    z-index: 0;
}

/* 侧边栏按钮 */
#gameinterfacescreen #sidebarbuttons{
    position: absolute;

    right: 12px;
    top: 265px;

    width: 130px;
    height: 214px;

    padding: 0;
    margin: 0;

    overflow: none;
    /* border:1px solid red; */
}

#gameinterfacescreen #sidebarbuttons input[type="button"]{
    width: 64px;
    height: 54px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
    background-image: url(images/buttons.png);
}

/* 按钮变灰状态 */
#starportbutton:active,#starportbutton:disabled{
    background-position: -208px -247px;
}
#placeholder1:active,#placeholder1:disabled{
    /* background-position: -52px -305px; */
}
#turretbutton:active,#turretbutton:disabled{
    background-position: -278px -247px;
}
#scouttankbutton:active,#scouttankbutton:disabled{
    background-position: -208px -306px;
}
#heavytankbutton:active,#heavytankbutton:disabled{
    background-position: -278px -306px;
}
#harvesterbutton:active,#harvesterbutton:disabled{
    background-position: -344px -364px;
}
#chopperbutton:active,#chopperbutton:disabled{
    background-position: -208px -364px;
}
#placeholder2:active,#placeholder1:disabled{
    /* background-position: -52px -387px; */
}
#wraithbutton:active,#wraithbutton:disabled{
    background-position: -278px -364px;
}

/* 按钮正常状态 */

#starportbutton{
    background-position: -4px -247px;
}
#placeholder1{
    /* background-position: -216px -305px; */
}
#turretbutton{
    right: 0;
    background-position: -74px -247px;
}
#scouttankbutton{
    top: 107px;
    background-position: -4px -306px;
}
#heavytankbutton{
    right: 0;
    top: 107px;
    background-position: -74px -306px;
}
#harvesterbutton{
    top: 55px;
    background-position: -140px -364px;
}
#chopperbutton{
    top: 159px;
    background-position: -4px -364px;
}
#placeholder2{
    /* background-position: -216px -387px; */
}
#wraithbutton{
    background-position: -74px -364px;
    top: 159px;
    right: 0;
}

/* 消息框画面 */
#messageboxscreen{
    background: rgba(0,0,0, 0.7);
    z-index: 20;
}
#messagebox{
    position: absolute;
    top: 170px;
    left: 140px;
    width: 296px;
    height: 178px;
    color: white;
    background: url(images/screens/messagebox.png) no-repeat center;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

#messagebox span{
    position: absolute;
    top: 30px;
    left: 50px;
    width: 200px;
    height: 100px;
}

#messagebox input[type="button"]{
    background-image: url(images/buttons.png);
    position: absolute;
    border-width: 0px;
    padding: 0px;
}

#messageboxok{
    background-position: -2px -120px;
    top: 126px;
    left: 11px;
    width: 74px;
    height: 26px;
}

#messageboxok:active,#messageboxok:disabled{
    background-position: -82px -120px;
}

#messageboxcancel{
    background-position: -2px -154px;
    top: 129px;
    left: 197px;
    width: 73px;
    height: 24px;
}

#messageboxcancel:active,#messageboxcancel:disabled{
    background-position: -82px -154px;
}