body,html {
    background: #090009;

    /* Disable scroll bars */
    overflow: hidden;

    /* Disable long touch hold select on mobile browsers */
    -webkit-touch-callout: none !important;
    
    cursor: url('images/cursor.cur'), default;
    
    height:100%;
    width:100%;
    /* background: radial-gradient(ellipse at bottom, #fff -300%, #090a0f 100%); */
    overflow: hidden;
}
#stars1 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:  1944px 550px #FFF ,   1894px 130px #FFF , 77px 262px #FFF ,  1660px 482px #FFF  , 468px 625px #FFF , 1260px 514px #FFF , 790px 553px #FFF , 1103px 758px #FFF, 1712px 528px #FFF , 185px 572px #FFF , 846px 530px #FFF  , 1768px 436px #FFF , 1131px 666px #FFF , 1496px 30px #FFF  , 416px 135px #FFF , 1675px 673px #FFF , 296px 524px #FFF , 1995px 416px #FFF, 542px 603px #FFF  , 982px 365px #FFF , 809px 534px #FFF, 727px 439px #FFF , 1585px 28px #FFF , 1916px 624px #FFF , 1022px 177px #FFF , 807px 619px #FFF , 1657px 338px #FFF  , 175px 989px #FFF , 170px 444px #FFF , 1623px 71px #FFF , 440px 464px #FFF , 1296px 244px #FFF , 1260px 94px #FFF , 652px 905px #FFF  , 947px 822px #FFF , 384px 268px #FFF   , 1679px 473px #FFF , 96px 345px #FFF , 1268px 428px #FFF  , 1242px 867px #FFF , 652px 831px #FFF , 1337px 64px #FFF , 1092px 624px #FFF, 1036px 405px #FFF   , 1756px 583px #FFF , 404px 380px #FFF , 1253px 372px #FFF , 520px 620px #FFF , 1842px 852px #FFF , 490px 387px #FFF , 1251px 143px #FFF , 1814px 537px #FFF , 1405px 623px #FFF , 1286px 896px #FFF , 1626px 990px #FFF , 1288px 939px #FFF , 763px 338px #FFF , 965px 412px #FFF , 1192px 956px #FFF  , 1784px 547px #FFF , 815px 675px #FFF , 1387px 890px #FFF , 1948px 429px #FFF , 1665px 92px #FFF , 1806px 919px #FFF , 1712px 494px #FFF  , 1421px 586px #FFF , 788px 208px #FFF , 380px 250px #FFF , 748px 977px #FFF , 1637px 337px #FFF  , 1776px 710px #FFF , 544px 453px #FFF, 1227px 391px #FFF , 583px 833px #FFF , 658px 278px #FFF , 892px 943px #FFF , 1524px 316px #FFF , 1547px 192px #FFF , 976px 36px #FFF , 1677px 936px #FFF , 1508px 412px #FFF , 1242px 439px #FFF , 1263px 40px #FFF , 639px 906px #FFF , 1349px 373px #FFF , 1055px 969px #FFF , 602px 95px #FFF, 1129px 837px #FFF  , 1188px 414px #FFF , 1931px 325px #FFF   , 1801px 780px #FFF , 633px 529px #FFF , 1500px 33px #FFF  , 1457px 698px #FFF  , 627px 250px #FFF  , 68px 998px #FFF , 951px 85px #FFF , 280px 431px #FFF ,  322px 778px #FFF , 841px 888px #FFF , 700px 568px #FFF , 1846px 442px #FFF , 970px 917px #FFF , 1585px 452px #FFF;
    animation: animStar 10s linear infinite;
  }
  #stars1:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:  1944px 550px #FFF ,   1894px 130px #FFF , 77px 262px #FFF ,  1660px 482px #FFF  , 468px 625px #FFF , 1260px 514px #FFF , 790px 553px #FFF , 1103px 758px #FFF, 1712px 528px #FFF , 185px 572px #FFF , 846px 530px #FFF  , 1768px 436px #FFF , 1131px 666px #FFF , 1496px 30px #FFF  , 416px 135px #FFF , 1675px 673px #FFF , 296px 524px #FFF , 1995px 416px #FFF, 542px 603px #FFF  , 982px 365px #FFF , 809px 534px #FFF, 727px 439px #FFF , 1585px 28px #FFF , 1916px 624px #FFF , 1022px 177px #FFF , 807px 619px #FFF , 1657px 338px #FFF  , 175px 989px #FFF , 170px 444px #FFF , 1623px 71px #FFF , 440px 464px #FFF , 1296px 244px #FFF , 1260px 94px #FFF , 652px 905px #FFF  , 947px 822px #FFF , 384px 268px #FFF   , 1679px 473px #FFF , 96px 345px #FFF , 1268px 428px #FFF  , 1242px 867px #FFF , 652px 831px #FFF , 1337px 64px #FFF , 1092px 624px #FFF, 1036px 405px #FFF   , 1756px 583px #FFF , 404px 380px #FFF , 1253px 372px #FFF , 520px 620px #FFF , 1842px 852px #FFF , 490px 387px #FFF , 1251px 143px #FFF , 1814px 537px #FFF , 1405px 623px #FFF , 1286px 896px #FFF , 1626px 990px #FFF , 1288px 939px #FFF , 763px 338px #FFF , 965px 412px #FFF , 1192px 956px #FFF  , 1784px 547px #FFF , 815px 675px #FFF , 1387px 890px #FFF , 1948px 429px #FFF , 1665px 92px #FFF , 1806px 919px #FFF , 1712px 494px #FFF  , 1421px 586px #FFF , 788px 208px #FFF , 380px 250px #FFF , 748px 977px #FFF , 1637px 337px #FFF  , 1776px 710px #FFF , 544px 453px #FFF, 1227px 391px #FFF , 583px 833px #FFF , 658px 278px #FFF , 892px 943px #FFF , 1524px 316px #FFF , 1547px 192px #FFF , 976px 36px #FFF , 1677px 936px #FFF , 1508px 412px #FFF , 1242px 439px #FFF , 1263px 40px #FFF , 639px 906px #FFF , 1349px 373px #FFF , 1055px 969px #FFF , 602px 95px #FFF, 1129px 837px #FFF  , 1188px 414px #FFF , 1931px 325px #FFF   , 1801px 780px #FFF , 633px 529px #FFF , 1500px 33px #FFF  , 1457px 698px #FFF  , 627px 250px #FFF  , 68px 998px #FFF , 951px 85px #FFF , 280px 431px #FFF ,  322px 778px #FFF , 841px 888px #FFF , 700px 568px #FFF , 1846px 442px #FFF , 970px 917px #FFF , 1585px 452px #FFF;
  }
  @keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
#wrapper {
    position: absolute;

    /* Wrapper covers entire window height and width */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Prevent the ugly blue highlighting from accidental selection of text */
    user-select: none;
}

#gamecontainer{
    width: 640px;
    height: 480px;
    background: url(images/screens/splashscreen1.png) no-repeat;
    background-size: 100% auto;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    transition:all 0.5s;
}

.gamelayer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

/* 启动画面与主菜单 */
#gamestartscreen{
    padding-top: 220px;
    text-align: left;
    padding-left: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border:1px solid red; */
}

#gamestartscreen span{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    cursor: url('images/hand.cur'), pointer;
    color: white;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
}

#gamestartscreen span:hover{
    color: yellow;
}

.game-title {
    position: absolute;

    top: 10%;
    
    text-align: left;
    width: 100%;

    font-family: "Courier New", Courier, monospace;
    font-size: 60px!important;
    line-height: 60px;

    color: white;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
}

/* 加载画面 */
#loadingscreen{
    background: rgba(100, 100, 100, 0.7);
    z-index: 10;
}

#loadingmessage{
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url(images/loader.gif) no-repeat center;
    font: 12px Arial;
}

/* 任务简介画面 */
#missionscreen{
    width:100%;
    background: url("images/screens/interface-middle.png");
}

input[type="button"] {
    border-width: 0;
    outline: none;
    /* 背景透明 */
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("images/buttons.png");

    cursor: url('images/hand.cur'), pointer;
}

.left-panel {
    left: 0;
    top: 0;
    position: absolute;
    
}

.right-panel {
    right: 0;
    top: 0;
    position: absolute;
    
}

#missionscreen #entermission{
    height: 52px;
    width: 188px;

    position: absolute;
    top: 82px;
    left: 3px;
    background-image: url(images/buttons.png);
    background-position: -4px -4px;
}

#missionscreen #entermission:disabled,#missionscreen #entermission:active{
    background-image: url(images/buttons.png);
    background-position: -196px -4px;
}

#missionscreen #exitmission{
    height: 52px;
    width: 72px;

    position: absolute;
    top: 82px;
    right: 164px;
    background-image: url(images/buttons.png);
    background-position: -4px -64px;
}

#missionscreen #exitmission:disabled,#missionscreen #exitmission:active{
    background-image: url(images/buttons.png);
    background-position: -84px -64px;
}

#missionscreen #missionbriefing{
    position: absolute;
    padding: 10px;

    top: 170px;
    left: 40px;
    right: 220px;
    height: 270px;

    color: rgb(130, 150, 162);
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

/*游戏界面*/

#gameinterfacescreen{
    text-align: center;
    width: 100%;
    background: url(images/screens/interface-middle.png);
    /* border:1px solid red; */
}

#gameinterfacescreen #gamemessages{
    position: absolute;
    padding-left: 10px;
    top:5px;
    left: 5px;
    width: 450px;
    height: 60px;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

#gameinterfacescreen #gamemessages span{
    color: white;
}

/* #gameinterfacescreen #callerpicture{
    position: absolute;
    left: 498px;
    top: 154px;
    width: 126px;
    height: 88px;
    overflow: none;
} */
#callerpicture {
    position: absolute;

    right: 20px;
    top: 155px;
    width: 114px;
    height: 72px;

    overflow: hidden;
}

#gameinterfacescreen #cash{
    width: 120px;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 241px;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align:  right;
}

#gameinterfacescreen canvas{
    position: absolute;
    top: 79px;
    left: 0px;
}

#gameinterfacescreen #foregroundcanvas{
    z-index: 1;
}

#gameinterfacescreen #backgroundcanvas{
    z-index: 0;
}

/* 侧边栏按钮 */
#gameinterfacescreen .sidebarbuttons{
    position: absolute;

    right: 12px;
    top: 265px;

    width: 130px;
    height: 214px;

    padding: 0;
    margin: 0;

    overflow: none;
    /* border:1px solid red; */
}

#gameinterfacescreen .sidebarbuttons input[type="button"]{
    width: 64px;
    height: 54px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
    background-image: url(images/buttons.png);
}

/* 按钮变灰状态 */


#scvbutton:active,#scvbutton:disabled{
    background-position: -243px -125px;
}
#starportbutton:active,#starportbutton:disabled{
    background-position: -208px -247px;
}
#placeholder1:active,#placeholder1:disabled{
    /* background-position: -52px -305px; */
}
#turretbutton:active,#turretbutton:disabled{
    background-position: -278px -247px;
}
#armoredcarbutton:active,#armoredcarbutton:disabled{
    background-position: -243px -188px;
}
#scouttankbutton:active,#scouttankbutton:disabled{
    background-position: -208px -306px;
}
#heavytankbutton:active,#heavytankbutton:disabled{
    background-position: -278px -306px;
}
#harvesterbutton:active,#harvesterbutton:disabled{
    background-position: -344px -364px;
}
#chopperbutton:active,#chopperbutton:disabled{
    background-position: -208px -364px;
}
#placeholder2:active,#placeholder1:disabled{
    /* background-position: -52px -387px; */
}
#wraithbutton:active,#wraithbutton:disabled{
    background-position: -278px -364px;
}

/* 按钮正常状态 */
#scvbutton{
    left: 0;
    top: 0;
    background-position: -168px -125px;
}
#starportbutton{
    left: 0;
    top: 0;
    background-position: -4px -247px;
}
#placeholder1{
    /* background-position: -216px -305px; */
}
#turretbutton{
    right: 0;
    background-position: -74px -247px;
}
#armoredcarbutton{
    right: 0;
    top: 55px;
    background-position: -168px -188px;
}
#scouttankbutton{
    left: 0;
    top: 107px;
    background-position: -4px -306px;
}
#heavytankbutton{
    right: 0;
    top: 107px;
    background-position: -74px -306px;
}
#harvesterbutton{
    left: 0;
    top: 55px;
    background-position: -140px -364px;
}
#chopperbutton{
    left: 0;
    top: 159px;
    background-position: -4px -364px;
}
#placeholder2{
    /* background-position: -216px -387px; */
}
#wraithbutton{
    background-position: -74px -364px;
    top: 159px;
    right: 0;
}

/* 消息框画面 */
#messageboxscreen{
    position: absolute;
    background: rgba(0,0,0, 0.7);
    z-index: 20;
    /* border: 1px solid red; */
}
#messagebox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    width: 296px;
    height: 178px;
    color: white;
    background: url(images/screens/messagebox.png) no-repeat center;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

#messagebox span{
    position: absolute;
    top: 30px;
    left: 50px;
    width: 200px;
    height: 100px;
}

#messagebox input[type="button"]{
    background-image: url(images/buttons.png);
    position: absolute;
    border-width: 0px;
    padding: 0px;
}

#messageboxok{
    background-position: -2px -120px;
    top: 126px;
    left: 11px;
    width: 74px;
    height: 26px;
}

#messageboxok:active,#messageboxok:disabled{
    background-position: -82px -120px;
}

#messageboxcancel{
    background-position: -2px -154px;
    top: 129px;
    left: 197px;
    width: 73px;
    height: 24px;
}

#messageboxcancel:active,#messageboxcancel:disabled{
    background-position: -82px -154px;
}

.characters{
    height:100%;
    width: auto;
    text-align:center;
}

/*游戏设置页面样式*/
#settingscreen{
    background: url(images/screens/splashscreen3.png) no-repeat;
    background-size: auto auto;
    /* border:1px solid red; */
    text-align: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
    z-index: 10;
}
#hideSettingScreen{
    position: absolute;
    top: 30px;
    left: 40px;
    cursor: url('images/hand.cur'), pointer;
    color: #FFF;
}
#settingscreen span:hover{
    color: yellow;
}
#settingContainer{
    position: absolute;
    top: 150px;
    left: 80px;
    color: #FFF;
    
}
#settingContainer div{
}

#settingContainer img{
    /* position: absolute; */
    cursor: url('images/hand.cur'), pointer;
    height: 30px;
}
.settingIcon{
    position: absolute;
    height: 30px;
    width: 30px;
    top:-3px;
    left: 150px;
    margin: 0;
    padding: 0;
}
.settingIitem{
    position: relative;
    
    margin: 20px;
}
#settingMessage{
    
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

/*音量控件*/
.barContainer {
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    /* border: 1px solid red; */
    font-size: 12px;
}
.barContainer p{
    position: absolute;
    top: -10px;
    left: 65px;
    margin: 0;
    padding: 0;
}

.barContainer .bar{
    
    margin: 0;
    padding: 0;
    width: 150px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* 垂直居中 */
    margin: auto;
    cursor: pointer;
}

.barContainer .box{
    
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto 0;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.1s linear 0s;
}